body
{
    text-align: center;
    margin-top: 0px;
}

#instructbutton{
    float: right;
    background-color: rgb(255, 183, 60);
    margin-top: 1px;
    margin-right: 2px;
    font-size: 22px;
}

#heading1{
    font-size: 28px;
    background-color: rgb(255, 64, 64);
    margin-top: 0%;
    margin-bottom: 25px;
}